<!DOCTYPE html>
<html>
<head>
    <title>Search Player</title>
</head>
<body>
    <h1>Search Player</h1>
    <form method="post" action="{{ url_for('search_person') }}">
        <label>Search:</label><br>
        <input type="text" id="search_term" name="search_term" required><br><br>
        <button type="submit">Search</button>
    </form>
    
    <h2>Search Results"</h2>
    {% if results %}
        <table border="2">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Country</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for person in results %}
            <tr>
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.username }}</td>
                <td>{{ person.country }}</td>
                <td><a href="{{ url_for('update_person', id=person.id) }}">Update</a></td>
                <td><a href="{{ url_for('delete_person', id=person.id) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>